{% load static %}
<!DOCTYPE html>
<html lang="en" class="{% if dark %} dark {% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link rel="icon" href="{% get_media_prefix %}images/logo.png" type="image/x-icon">
    <link href="{% static 'history/css/output.css' %}" rel="stylesheet">
    <script src="{% static 'history/js/index.js' %}"></script>

</head>
<header class="bg-blue-600 text-white py-4 dark:bg-blue-800">
</header>
<body class="bg-gray-100 dark:bg-gray-900">
{% include "home/menu.html" %}
<div class="container mx-auto mt-12 p-6 bg-white shadow-lg rounded-md mb-8 dark:bg-gray-800 dark:text-gray-200">
    <h1 class="text-2xl font-bold mb-4 text-center dark:text-white">Uploaded schedules</h1>

    <div class="flex justify-between mb-4">
        <!-- Sorting Dropdown -->
        <form method="get" class="flex items-center space-x-2">
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <select name="sort" id="sorting"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-300 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="-uploaded_at">Newest First</option>
                <option value="uploaded_at">Oldest First</option>
                <option value="title">Title (A-Z)</option>
                <option value="-title">Title (Z-A)</option>
            </select>
            <button type="submit"
                    class="dark:bg-blue-700 dark:hover:bg-blue-600 p-2 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition">
                Sort
            </button>
        </form>

        <!-- Search Bar -->
        <form method="get" class="flex space-x-2">
            <input type="hidden" name="sort" value="{{ request.GET.sort }}">
            <input type="text" id="searchField" name="search" placeholder="Search..."
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-primary-600 focus:border-primary-600 p-2 dark:bg-gray-700
               dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-300
               dark:focus:ring-blue-500 dark:focus:border-blue-500">

            <button type="submit"
                    class="dark:bg-blue-700 dark:hover:bg-blue-600 p-2 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition">
                Search
            </button>
        </form>
    </div>
    <div class="grid grid-cols-3 gap-4">
        {% for table in page_obj %}
            <div class="p-4 rounded-lg border border-gray-300 shadow-lg bg-gray-50 dark:bg-gray-700 dark:text-gray-100 dark:border dark:border-gray-600">
                <a href="{% url 'view_cells' table.id %}">
                    <img src="{{ table.image.url }}" alt="Table Image"
                         class="transform hover:scale-105 w-full h-40 object-cover rounded shadow-lg hover:shadow-xl transition-shadow">
                    <p class="text-center mt-2 font-semibold">{{ table.title }}</p>
                    <p class="text-center text-gray-500 dark:text-gray-400 text-sm">{{ table.uploaded_at }}</p>
                </a>
            </div>
        {% empty %}
            <p class="text-gray-500 text-center col-span-3">No tables found.</p>
        {% endfor %}
    </div>

    <div class="flex justify-center mt-6">
        {% if page_obj.has_previous %}
            <a href="?page=1&sort={{ sort }}&search={{ search }}"
               class="px-3 py-1 bg-gray-300 rounded-l dark:bg-gray-600 dark:text-white">First</a>
            <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&search={{ search }}"
               class="px-3 py-2 bg-gray-300 dark:bg-gray-600 dark:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M10 3a1 1 0 00-1.707-.707l-5 5a1 1 0 000 1.414l5 5A1 1 0 009 13V4a1 1 0 011-1z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
        {% endif %}

        <span class="px-3 py-1 bg-blue-600 text-white">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&search={{ search }}"
               class="px-3 py-2 bg-gray-300 dark:bg-gray-600 dark:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transform rotate-180" viewBox="0 0 20 20"
                     fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M10 3a1 1 0 00-1.707-.707l-5 5a1 1 0 000 1.414l5 5A1 1 0 009 13V4a1 1 0 011-1z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}&sort={{ sort }}&search={{ search }}"
               class="px-3 py-1 bg-gray-300 rounded-r dark:bg-gray-600 dark:text-white">Last</a>
        {% endif %}
    </div>
</div>
<footer class="bg-gray-200 dark:bg-gray-800 text-gray-700 dark:text-gray-300 py-6">
    <div class="max-w-screen-xl mx-auto px-4 flex flex-col sm:flex-row justify-center items-center gap-4 text-sm text-center sm:text-left">

        <a href="https://www.termsfeed.com/live/47acb236-3302-486d-a621-de7eecae9fac"
           target="_blank"
           class="underline hover:text-blue-600 dark:hover:text-blue-400">
            Privacy Policy
        </a>
                <p>&copy; {{ now|date:"Y" }} ShiftMate. All rights reserved.</p>
        <a href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation"
           target="_blank"
           class="underline hover:text-blue-600 dark:hover:text-blue-400">
            GDPR
        </a>
    </div>
</footer>
</body>

</html>