{% load static %}
<!DOCTYPE html>
<html lang="en" class="{% if dark %} dark {% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link rel="icon" href="../../../media/images/logo.png" type="image/x-icon">
    <link href="{% static 'history/css/output.css' %}" rel="stylesheet">
    <script type="module" src="{% static 'history/js/view_cells.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sugar-date@2.0.6/dist/sugar-date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>


</head>
<header class="bg-blue-600 text-white py-4 dark:bg-blue-800">
</header>


<body class="bg-gray-100 dark:bg-gray-900">

{% include "home/menu.html" %}

<div class="container mx-auto p-4">

    <h1 class="text-2xl font-bold mb-4 text-center dark:text-white">{{ table.title }}</h1>
    <div class="flex justify-center mb-8">
        <img src="{{ table.image.url }}" alt="Table Image" class="w-1/2 object-contain rounded-md">
    </div>

    <h1 class="text-2xl font-bold mb-4 text-center dark:text-white">Extracted ROTA data</h1>
    <!-- Dynamic Grid -->
    <div class="container mx-auto mt-6 p-6 bg-white shadow-lg rounded-md mb-8 dark:bg-gray-800 dark:text-gray-200 justify-center">

        <div class="grid gap-4 mb-8" style="grid-template-columns: repeat({{ columns }}, auto);">
            <div id="eventModal" class="absolute hidden flex justify-center items-center z-[9999] ">
                <div class="space-y-2 bg-white p-6 rounded-lg z-50 mx-auto text-white dark:bg-gray-700 dark:text-gray-200">
                    <h2 class="text-lg font-bold mb-4 text-black dark:text-white">Insert into the calendar</h2>
                    <div class="flex justify-between items-center">

                        <!-- Left Button Group -->
                        <div class="flex flex-col items-center space-y-2 left-buttons mr-4">
                            <button id="title" type="button"
                                    class="dark:bg-blue-700 dark:hover:bg-blue-600 w-32 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">
                                Title
                            </button>
                            <button id="start-date" type="button"
                                    class="dark:bg-blue-700 dark:hover:bg-blue-600 w-32 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">
                                Start date
                            </button>
                            <button id="start-time" type="button"
                                    class="dark:bg-blue-700 dark:hover:bg-blue-600 w-32 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">
                                Start time
                            </button>
                        </div>

                        <!-- Content Section (Text and OCR Info) -->
                        <div class="text-left p-2 flex flex-col justify-center items-center flex-grow w-full">
                            <img id="modal-image" alt="Cell Image"
                                 class="w-full max-w-screen-lg object-contain rounded-md" src="">
                            <p class="block mt-2 text-sm font-medium text-gray-900 dark:text-gray-300">Extracted
                                data:</p>
                            <input type="text"
                                   class="text-center text-gray-600 dark:text-gray-300 mt-2 p-2 bg-gray-100 dark:bg-gray-600 rounded-md text-base font-semibold overflow-hidden w-full flex-grow"
                                   id="modal-text">

                        </div>

                        <!-- Right Button Group -->
                        <div class="flex flex-col items-center space-y-2 right-buttons ml-4">
                            <button id="location" type="button"
                                    class="dark:bg-blue-700 dark:hover:bg-blue-600 w-32 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">
                                Location
                            </button>

                            <button id="end-date" type="button"
                                    class="dark:bg-blue-700 dark:hover:bg-blue-600 w-32 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">
                                End date
                            </button>
                            <button id="end-time" type="button"
                                    class="dark:bg-blue-700 dark:hover:bg-blue-600 w-32 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition">
                                End time
                            </button>
                        </div>
                    </div>
                    <div class="flex justify-end space-x-2 !mt-6">
                        <button id="cancelEventBtn"
                                class="dark:bg-gray-500 bg-gray-400 hover:bg-gray-300 dark:hover:bg-gray-600 text-white px-4 py-2 rounded w-full">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
            {% for cell in cells %}
                <div class="cell border bg-gray-50 overflow-hidden dark:bg-gray-700  justify-center items-center p-4 rounded-lg shadow-lg cursor-pointer flex"
                     data-text="{{ cell.ocr_text }}"
                     data-row="{{ cell.row_number }}"
                     data-col="{{ cell.column_number }}"
                     data-image="{{ cell.image.url }}"
                >
                    <!-- Content Section (Text and OCR Info) -->
                    <div class="text-left p-2 flex flex-col justify-center items-center flex-grow">
                        <img src="{{ cell.image.url }}" alt="Cell Image"
                             class="w-full max-w-screen-lg object-contain rounded-md">
                        <p class="block mt-2 text-sm font-medium text-gray-900 dark:text-gray-300">Extracted data:</p>
                        <p class="text-gray-600 dark:text-gray-300 mt-2 p-2 bg-gray-100 dark:bg-gray-600 rounded-md text-base font-semibold break-words overflow-hidden max-w-full truncate">{{ cell.ocr_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Form for Calendar Data -->
        <form method="post" enctype="multipart/form-data" action="/history/calendar-convert/" id="conversion-form"
              class="dark:text-gray-300 bg-gray-50 dark:bg-gray-700 p-4 rounded-lg shadow-lg">
            {% csrf_token %}
            <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-gray-300 text-left mb-4">
                Selected ROTA data</h2>
            <div class="grid grid-cols-2 gap-4">
                <label>
                    <p class="text-gray-600 dark:text-gray-300 p-2 rounded-md text-base font-semibold break-words overflow-hidden max-w-full truncate">
                        Title</p>
                    {{ calendar_form.title }}
                </label>
                <label>
                    <p class="text-gray-600 dark:text-gray-300 p-2 rounded-md text-base font-semibold break-words overflow-hidden max-w-full truncate">
                        Location</p>
                    {{ calendar_form.location }}
                </label>
                <label>
                    <p class="text-gray-600 dark:text-gray-300 p-2 rounded-md text-base font-semibold break-words overflow-hidden max-w-full truncate">
                        Start date</p>
                    {{ calendar_form.start_date }}

                </label>
                <label>
                    <p class="text-gray-600 dark:text-gray-300 p-2 rounded-md text-base font-semibold break-words overflow-hidden max-w-full truncate">
                        End date</p>
                    {{ calendar_form.end_date }}

                </label>
                <label>
                    <p class="text-gray-600 dark:text-gray-300 p-2 rounded-md text-base font-semibold break-words overflow-hidden max-w-full truncate">
                        Start time</p>
                    {{ calendar_form.start_time }}

                </label>
                <label>
                    <p class="text-gray-600 dark:text-gray-300 p-2 rounded-md text-base font-semibold break-words overflow-hidden max-w-full truncate">
                        End time</p>
                    {{ calendar_form.end_time }}

                </label>

            </div>
            <button name="action" value="convert" type="submit"
                    class="bg-blue-600 text-white px-4 py-2 mt-4 rounded hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600">
                Convert to Calendar (.ics)
            </button>

            <button name="action" value="google" type="submit"
                    class="bg-green-600 text-white px-4 py-2 mt-4 rounded hover:bg-green-700 dark:bg-green-500 dark:hover:bg-green-600">
                Open in Google Calendar
            </button>

        </form>
    </div>
    <div id="overlay" class="fixed hidden inset-0 bg-black bg-opacity-50 z-[9998]"></div>

</div>
</body>
</html>


