{% load static %}
<!DOCTYPE html>
<html lang="en" class="{% if dark %}dark{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link href="{% static 'accountProfile/css/output.css' %}" rel="stylesheet">
    <script src="{% static 'accountProfile/js/index.js' %}"></script>
    <link rel="icon" href="{% get_media_prefix %}images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<header class="bg-blue-600 text-white py-4 dark:bg-blue-800">
</header>
<body class="bg-gray-100 dark:bg-gray-900">
{% if messages %}
    <script>
        const isDarkMode = document.documentElement.classList.contains("dark");

        document.addEventListener("DOMContentLoaded", function () {
            {% for message in messages %}
                Toastify({
                    text: "{{ message }}",
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: isDarkMode
                        ? "{% if message.tags == 'success' %}#16a34a{% elif message.tags == 'error' %}#b91c1c{% else %}
                            #1e40af{% endif %}"
                        : "{% if message.tags == 'success' %}#22c55e{% elif message.tags == 'error' %}#ef4444{% else %}
                            #3b82f6{% endif %}",
                    close: true

                }).showToast();
            {% endfor %}
        });
    </script>
{% endif %}
{% include "home/menu.html" with dark=dark %}

<div class="container mx-auto mt-8 mb-8">
    <h1 class="text-2xl font-bold mb-4 text-center dark:text-white">
        Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!
    </h1>
    <div class="flex flex-wrap gap-4">
        <div class="bg-white p-6 shadow-md dark:bg-gray-800 dark:text-gray-200 rounded-md flex-1 min-w-[300px]">
            <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-left mb-4">
                Update personal details</h2>
            <form method="post" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                {{ accountProfile_form.non_field_errors }}
                {% for field in accountProfile_form %}
                    {% if not forloop.last %}
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <p class="text-sm text-red-500 mt-1">{{ field.errors|striptags }}</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="space-y-2">
                            <!-- File Input with Custom Tailwind Styles -->
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.label }}</label>

                            <div class="flex items-center space-x-4">


                                <div class="flex items-center space-x-4">
                                    <!-- Image Preview -->
                                    <div id="image-preview-container"
                                         class="w-24 h-24 border rounded bg-gray-50 overflow-hidden dark:bg-gray-700 flex justify-center items-center">
                                        {% if field.value %}
                                            <img id="preview-image" src="{{ field.value }}" alt="Image preview"
                                                 class="object-cover w-full h-full">
                                        {% else %}
                                            <span id="preview-placeholder" class="text-gray-400">No Image</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="flex-1">
                                    <div class="relative">
                                        {{ field }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                <div>
                    <button type="submit" name="update_profile"
                            class="dark:bg-blue-700 dark:hover:bg-blue-600 w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition">
                        Save Changes
                    </button>
                </div>
            </form>

        </div>
        <div class="bg-white dark:bg-gray-800 dark:text-gray-200 p-6 shadow-md rounded-md flex-1 min-w-[300px]">
            <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-left mb-4">
                Create new password</h2>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                {{ password_form.non_field_errors }}

                <div>
                    <label for="old-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Old
                        password</label>
                    {{ password_form.old_password }}
                    {% if password_form.old_password.errors %}
                        <p class="text-sm text-red-500 mt-1">{{ password_form.old_password.errors|striptags }}</p>
                    {% endif %}
                </div>

                <div>
                    <label for="new-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">New
                        password</label>
                    {{ password_form.new_password1 }}
                    {% if password_form.new_password1.errors %}
                        <p class="text-sm text-red-500 mt-1">{{ password_form.new_password1.errors|striptags }}</p>
                    {% endif %}
                </div>

                <div>
                    <label for="old-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Confirm
                        password</label>
                    {{ password_form.new_password2 }}
                    {% if password_form.new_password2.errors %}
                        <p class="text-sm text-red-500 mt-1">{{ password_form.new_password2.errors|striptags }}</p>
                    {% endif %}
                </div>

                <div>
                    <button type="submit" name="change_password"
                            class="dark:bg-blue-700 dark:hover:bg-blue-600 w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Update Password
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>