{% load static %}
<!DOCTYPE html>
<html lang="en" class="{% if dark %}dark{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link href="{% static 'home/css/output.css' %}" rel="stylesheet">
    <link rel="icon" href="../../../media/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<header class="bg-blue-600 text-white py-4 dark:bg-blue-800">
</header>
<body class="bg-gray-100 dark:bg-gray-900">
{% if messages %}
<script>
    const isDarkMode = document.documentElement.classList.contains("dark");

    document.addEventListener("DOMContentLoaded", function() {
        {% for message in messages %}
            Toastify({
                text: "{{ message }}",
                duration: 3000,
                gravity: "top",
                position: "right",
                backgroundColor: isDarkMode
                    ? "{% if message.tags == 'success' %}#16a34a{% elif message.tags == 'error' %}#b91c1c{% else %}#1e40af{% endif %}"
                    : "{% if message.tags == 'success' %}#22c55e{% elif message.tags == 'error' %}#ef4444{% else %}#3b82f6{% endif %}",
                close: true

            }).showToast();
        {% endfor %}
    });
</script>
{% endif %}

</body>

{% include "home/menu.html" %}
<div class="container mx-auto mt-8">
    {% block content %}
        <!-- Content goes here -->
    {% endblock %}
</div>
</html>