<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="../../../media/images/logo.png" type="image/x-icon">


{% load static %}
</head>
<body class="bg-gray-100">
    {% if messages %}
        <link rel="stylesheet" href="{% static 'home/css/base.css' %}">

        <div class="toast-container">
            {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="{% static 'home/js/base.js' %}"></script>
    {% endif %}

</body>


    <header class="bg-blue-600 text-white py-4">
    </header>
    {% include "home/menu.html" %}
    <div class="container mx-auto mt-8">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
</body>
</html>