<!DOCTYPE html>
<html lang="en">
    <div class="flex flex-col lg:flex-row gap-y-4 lg:items-center ml-auto justify-center">
      <a href="{% url 'signin' %}" class="bg-indigo-50 text-indigo-600 rounded-full cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 py-3 px-6 text-sm hover:bg-indigo-100"> Login </a>
    <a href="{% url 'signup' %}" class="bg-indigo-600 text-white rounded-full cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 py-3 px-6 text-sm lg:ml-5 hover:bg-indigo-700">
      Sign up
    </a>
    </div>
</html>