{% load static %}
<!DOCTYPE html>
<html lang="en" class="{% if dark %}dark{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link href="{% static 'aboutus/css/output.css' %}" rel="stylesheet">
    <link rel="icon" href="{% get_media_prefix %}images/logo.png" type="image/x-icon">
</head>
<body class="bg-gray-100 dark:bg-gray-900 flex flex-col h-screen">
<header class="bg-blue-600 text-white py-4 dark:bg-blue-800">
</header>
{% include "home/menu.html" %}
<section class="bg-white py-12 px-6 md:px-16 lg:px-32 dark:bg-gray-800 dark:text-white flex-grow">
    <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-4 dark:text-white">About Us</h2>
        <p class="text-lg text-gray-600 dark:text-gray-400">
            Welcome to <span class="text-blue-600 font-semibold dark:text-blue-400">Shift</span><span
                class="text-green-600 font-semibold dark:text-green-400">Mate</span>
            — your ultimate partner in effortless scheduling and planning.
            Our mission is to simplify your workflow with intuitive tools designed for modern teams and individuals.
            From managing tasks to coordinating shifts, we bring clarity and efficiency to your day, helping you focus
            on what matters most.
            Whether you're juggling personal commitments or running a dynamic team, <span
                class="text-blue-600 font-semibold dark:text-blue-400">Shift</span><span
                class="text-green-600 font-semibold dark:text-green-400">Mate</span>
            is here to make it easier, smarter, and more effective.
            Let us take the stress out of planning so you can achieve more!
        </p>
    </div>
</section>
<footer class="bg-gray-200 dark:bg-gray-800 text-gray-700 dark:text-gray-300 py-6">
    <div class="max-w-screen-xl mx-auto px-4 flex flex-col sm:flex-row justify-center items-center gap-4 text-sm text-center sm:text-left">

        <a href="https://www.termsfeed.com/live/47acb236-3302-486d-a621-de7eecae9fac"
           target="_blank"
           class="underline hover:text-blue-600 dark:hover:text-blue-400">
            Privacy Policy
        </a>
                <p>&copy; {{ now|date:"Y" }} ShiftMate. All rights reserved.</p>
        <a href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation"
           target="_blank"
           class="underline hover:text-blue-600 dark:hover:text-blue-400">
            GDPR
        </a>
    </div>
</footer>

</body>

</html>
