{% load static %}
<!DOCTYPE html>
<html lang="en" class="{% if dark %}dark{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link href="{% static 'accountSettings/css/output.css' %}" rel="stylesheet">
    <link rel="icon" href="../../../media/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<header class="bg-blue-600 text-white py-4 dark:bg-blue-800">
</header>
<body class="bg-gray-100 dark:bg-gray-900">
{% if messages %}
<script>
    const isDarkMode = document.documentElement.classList.contains("dark");

    document.addEventListener("DOMContentLoaded", function() {
        {% for message in messages %}
            Toastify({
                text: "{{ message }}",
                duration: 3000,
                gravity: "top",
                position: "right",
                backgroundColor: isDarkMode
                    ? "{% if message.tags == 'success' %}#16a34a{% elif message.tags == 'error' %}#b91c1c{% else %}#1e40af{% endif %}"
                    : "{% if message.tags == 'success' %}#22c55e{% elif message.tags == 'error' %}#ef4444{% else %}#3b82f6{% endif %}",
                close: true

            }).showToast();
        {% endfor %}
    });
</script>
{% endif %}
{% include "home/menu.html" with dark=dark %}
<div class="container mx-auto mt-12 p-6 max-w-lg bg-white shadow-lg rounded-md dark:bg-gray-800">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center mb-4">
        Settings</h1>
    <form method="post" class="space-y-2 md:space-y-2">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label class="inline-flex items-center cursor-pointer">
                {{ form.darkMode }}
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
                <span class="block text-sm font-medium text-gray-900 dark:text-gray-300 ms-3">Dark mode</span>
            </label>
        </div>
        <div>
            <label class="inline-flex items-center cursor-pointer">
                {{ form.saveToCalendar }}
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
                <span class="block text-sm font-medium text-gray-900 dark:text-gray-300 ms-3">Save conversions to calendar</span>
            </label>
        </div>
        <div>
            <label class="inline-flex items-center pb-2">
                <span class="block text-sm font-medium text-gray-900 dark:text-gray-300 ms-3 me-1">OCR recognition model</span>
                {{ form.ocrRecognition }}
            </label>
            <div>
                <button type="submit"
                        name="action" value="help"
                        class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-600 transition">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>